<!DOCTYPE html>
<html>

<head>
    <title>NodeJS: {{title}}</title>
</head>

<body>
    <form id="form" action="" method="post">
        리뷰 작성하기 <br>
        <input type="text" name="comment" placeholder="comment" /><br>
        <button type="submit">전송</button>
    </form>

    <!-- <p>
        사용자 정보 삭제<br>
        {% for userId in users %}
            <a href="http://localhost:{{port}}/user/delete/{{userId}}">http://localhost:{{port}}/user/delete/{{userId}}</a><br>
        {% endfor %}
    </p> -->
    
</body>

</html>