<!DOCTYPE html>
<html>

<head>
    <title>NodeJS: {{title}}</title>
    
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9a2e1c8b0bd726e6522013b770aef13f&libraries=services"></script>

</head>
</head>

<body>

 <!-- //전체리뷰
        <p>
        <a href="http://localhost:{{port}}/users">http://localhost:{{port}}/users</a><br> 
        <a href="http://localhost:{{port}}/comments">http://localhost:{{port}}/comments</a><br>   
        <a href="http://localhost:{{port}}/data">http://localhost:{{port}}/data</a>
    </p>  -->

    
    <p>
        <a href="http://localhost:{{port}}/user">마이페이지</a><br>
    </p>

    <p>
        <a href="http://localhost:{{port}}/comment">리뷰작성</a><br>
    </p>

    <p>
        {% if user %}
            {% if user.description.startsWith('http') %}

                <img src="{{user.description}}" width="100" height="100">
                
            {% endif %}
            {{user.name}}님 환영합니다!<br>
            <a href="http://localhost:{{port}}/auth/logout">로그아웃</a>

        {% else %}

        <form id="form" action="auth/login" method="post">
            <input type="text" name="id" placeholder="ID" /><br>
            <input type="text" name="password" placeholder="Password" /><br>
            <button type="submit">http://localhost:{{port}}/auth/login</button>
        </form>

        {% endif %}

    </p>


   위치 전송 테스트 클라이언트
    <p>
        <button id="getLocationBtn" onclick="getLocation()">Get Location</button>
    </p>

    <!-- <script>
        function getLocation() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(position => {
                    const { latitude, longitude } = position.coords;
                    console.log('Latitude:', latitude);
                    console.log('Longitude:', longitude);
                    sendLocation(latitude, longitude);
                    verifyLocation(latitude, longitude); // 위치 인증
                }, error => {
                    console.error('Error getting location:', error);
                });
            } else {
                console.error('Geolocation is not supported');
            }
        }
    
        function sendLocation(latitude, longitude) {
            fetch('/location', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ latitude, longitude })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to send location data');
                }
                console.log('Location data sent successfully');
            })
            .catch(error => {
                console.error('Error sending location data:', error);
            });
        }
    
        function verifyLocation(latitude, longitude) {
            // 임시로 남양주의 경도 및 위도 범위 설정
            const gyunggiLatRange = [37.64];
            const gyunggiLonRange = [127.21];
    
            // 사용자의 위치가 경기도 내에 있는지 확인
            if (latitude >= gyunggiLatRange[0] && latitude <= gyunggiLatRange[1] &&
                longitude >= gyunggiLonRange[0] && longitude <= gyunggiLonRange[1]) {
                console.log("사용자는 남양주에 있습니다.");
            } else {
                console.log("사용자는 남양주에 있지 않습니다.");
            }
        }
    </script> 
      

      <p>
        <input type="text" id="addressInput" placeholder="주소를 입력하세요">
        <button id="searchBtn">주소 검색</button>
        <div id="result"></div>
      </p>

      <script>
        window.onload = function () {
            document.getElementById('searchBtn').onclick = function () {
                searchAddress();
            };
        };

        function searchAddress() {
            var address = document.getElementById('addressInput').value;
            var geocoder = new kakao.maps.services.Geocoder();

            geocoder.addressSearch(address, function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var lat = result[0].y; // 위도
                    var lng = result[0].x; // 경도

                    var resultDiv = document.getElementById('result');
                    resultDiv.innerHTML = '입력한 주소의 위도: ' + lat + ', 경도: ' + lng;
                } else {
                    alert('검색 결과가 없거나 오류가 발생했습니다.');
                }
            });
        }
    </script> -->


    <script>
        function getLocation() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(position => {
                    const { latitude, longitude } = position.coords;
                    console.log('Latitude:', latitude);
                    console.log('Longitude:', longitude);
                    sendLocation(latitude, longitude);
                    verifyLocation(latitude, longitude); // 위치 인증
                }, error => {
                    console.error('Error getting location:', error);
                });
            } else {
                console.error('Geolocation is not supported');
            }
        }
    
        function sendLocation(latitude, longitude) {
            fetch('/location', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ latitude, longitude })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to send location data');
                }
                console.log('Location data sent successfully');
            })
            .catch(error => {
                console.error('Error sending location data:', error);
            });
        }
    
        function verifyLocation(latitude, longitude) {
            var address = document.getElementById('addressInput').value;
            var geocoder = new kakao.maps.services.Geocoder();

            geocoder.addressSearch(address, function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var searchedLat = result[0].y; // 검색한 장소의 위도
                    var searchedLng = result[0].x; // 검색한 장소의 경도

                    var distance = Math.sqrt(Math.pow(latitude - searchedLat, 2) + Math.pow(longitude - searchedLng, 2));

                    if (distance < 1) { // 임의의 거리 설정 단위 km이다. 곱하기 1000
                        console.log("사용자는 검색한 장소에 있습니다.");
                    } else {
                        console.log("사용자는 검색한 장소에 있지 않습니다.");
                    }
                } else {
                    console.error('검색 결과가 없거나 오류가 발생했습니다.');
                }
            });
        }
    </script> 
      

      <!-- 위치 검색 테스트 클라이언트 -->
      <p>
        <input type="text" id="addressInput" placeholder="주소를 입력하세요">
        <button id="searchBtn">주소 검색</button>
        <div id="result"></div>
      </p>

      <script>
        window.onload = function () {
            document.getElementById('searchBtn').onclick = function () {
                searchAddress();
            };
        };

        function searchAddress() {
            var address = document.getElementById('addressInput').value;
            var geocoder = new kakao.maps.services.Geocoder();

            geocoder.addressSearch(address, function (result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var resultDiv = document.getElementById('result');
                    resultDiv.innerHTML = '입력한 주소의 위도: ' + result[0].y + ', 경도: ' + result[0].x;

                    verifyLocation(); // 위치 인증
                } else {
                    alert('검색 결과가 없거나 오류가 발생했습니다.');
                }
            });
        }
    </script>
</body>

</html>
